@model CaminhaoModel

@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    
    <h1 class="display-4" >Cadastrar Caminhão</h1>

</div>

<form asp-controller="Caminhao" asp-action="Cadastrar" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" aria-required="true">
    </div>

    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" aria-required="true">
    </div>

    <div class="form-group">
        <label for="DataDeCriacao">Data de Criação</label>
        <input type="date" asp-for="DataDeCriacao" class="form-control" aria-required="true">
    </div>

    <button type="submit" class="btn btn-primary" >Cadastrar</button>
    <a class="btn btn-secondary" asp-controller="Caminhao" asp-action="Index">Voltar</a>
</form>
