@{
    ViewData["Title"] = "Gerenciamento de Caminhões";
}

<div class="text-center">
    <h1 class="display-4">Semana 5-6</h1>
    <p>Aplicação Web com ASP.Net Core MVC.</p>
    <p>CRUD de caminhões.</p>
</div>